services:
  - type: web
    name: eterna-labs-order-engine
    env: node
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
